<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h1 class="section-heading">Hi! I am Bao.</h1>
                <br/>
                <p class="text-faded">I am a Software Engineer! After graduated from HCMC University of Technology, I started to work as a full time software engineer at a Japanese outsource company. So far, my favorite book is Clean Code: A Handbook of Agile Software Craftsmanship by Robert C. Martin</p>
                <a href="https://nggbaobkit.github.io/assets/resume.pdf" target="_blank" class="btn btn-default btn-xl">My resume</a>
            </div>
        </div>
    </div>
</section>
